{% extends "layout.html" %}
{% block content %}
<article class="media content-section" xmlns="http://www.w3.org/1999/html">
    <div class="media-body">
      <div class="article-metadata">
       <h4><a class="mr-2" href="#">{{ car.nazwa }}</a></h4>
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_car', id_car=car.id_samochodu) }}">Zmień</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Usuń</button>
              <a class ="btn btn-primary btn-sm m-1" href="{{ url_for('show_cars') }}">Wróć</a>
          </div>

      </div>
      <table class= "table table-striped">
          <tr>
            <td><h6 class="article-title">Marka</h6></td>
            <td><h6 class="article-title"> {{ car.marka }}</h6></td>
          </tr>
          <tr>
            <td><h6 class="article-title">Typ i wymiary</h6></td>
            <td><h6 class="article-title"> {{ car.wymiary }}</h6></td>
          </tr>
          <tr>
            <td><h6 class="article-title">Nr rejestracyjny</h6></td>
            <td><h6 class="article-title"> {{ car.nr_rej }}</h6></td>
          </tr>
          <tr>
            <td><h6 class="article-title">Data przeglądu </h6></td>
            <td><h6 class="article-title"> {{ car.data_przegladu }}</h6></td>
          </tr>
          <tr>
            <td><h6 class="article-title">Rok produkcji</h6></td>
            <td><h6 class="article-title"> {{ car.rok }}</h6></td>
          </tr>
          <tr>
            <td><h6 class="article-title">Numer polisy</h6></td>
            <td><h6 class="article-title"> {{ car.polisa_nr }}</h6></td>
          </tr>
          <tr>
            <td><h6 class="article-title">Data ważności polisy</h6></td>
            <td><h6 class="article-title"> {{ car.polisa_data }}</h6></td>
          </tr>
          <tr>
            <td><h6 class="article-title">Leasing</h6></td>
            <td><h6 class="article-title"> {{ car.leasing }}</h6></td>
          </tr>
          <tr>
            <td><h6 class="article-title">Pin karty</h6></td>
            <td><h6 class="article-title"> {{ car.pin }}</h6></td>
          </tr>

    </table>
    </div>
  </article>
<!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Czy na pewno chcesz usunąć samochód?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
,          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <form action="{{ url_for('delete_car', id_car=car.id_samochodu) }}" method="GET">
            <input class="btn btn-danger" type="submit" value="Usuń">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}