{% extends "layout.html" %}
{% block content %}

    <form role="form" method="post" action="/show_car_order">
        <table style="width:100%" class=" table table-striped">
{#<link href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">#}
<link rel = "stylesheet" href ="../static/dtest/jquery.datetimepicker.min.css">
<script src = "../static/dtest/jquery.js"></script>
<script src = "../static/dtest/jquery.datetimepicker.full.js"></script>
<div class = "ml-5">
    <h3 class = "article-title" style="margin-left:70px">Wybierz datę</h3>
    <input type="text" id="dateorder" class="form-control rounded-left ml-2" name="dateorder" style = "width:300px;" required>
</div>
<table class = "table table-striped" style="width:40%">
    <tr>
        <thead>
            <th>Nazwa</th>
            <th>Model</th>
            <th>Wymiary</th>
            <th>Numer rejestracyjny</th>
            <th>Data przeglądu</th>
        </thead>
    </tr>
    {% for cars in Cars %}
    <tr>
        <td> <a href="{{ url_for('car', id_car=cars.id_samochodu) }}">{{ cars.nazwa }}</a></td>
        <td> {{ cars.marka }} </td>
        <td> {{cars.wymiary}}</td>
        <td> {{ cars.nr_rej }} </td>
        <td> {{ cars.data_przegladu }}</td>
        <td>
            <button class="btn btn-primary" type="submit" value="{{ cars.id_samochodu }}" name="id_car" id="{{ cars.id_samochodu }}" formaction="{{ url_for('show_car_order') }}">Wybierz</button>
        </td>
    </tr>
    {% endfor %}
</table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap/min.js"></script>
<script src="../static/dtest/jquery.datetimepicker.full.js"></script>
<script>
    $('#dateorder').datetimepicker({
        timepicker: false,
        datepicker: true,
        format: 'd-m-Y'
    })
</script>
</form>
{% endblock content %}