{% extends "layout.html" %}
{% block content %}
    <form role="form" method="post" action="/show_orders_for_cars">
        <table style="width:100%" class=" table table-striped">
<link rel = "stylesheet" href ="../static/dtest/jquery.datetimepicker.min.css">
<script src = "../static/dtest/jquery.js"></script>
<script src = "../static/dtest/jquery.datetimepicker.full.js"></script>

<div class ="container mt-5 mb-5" style="width:500px">
    <h5 class = "article-title" style = "margin-left: 160px ;margin-bottom: 30px">Wybierz datę</h5>
    <input type="text" id="dateorder" class="form-control" name="dateorder" required>
    <h5 class = "article-title" style = "margin-left:25px; margin-top: 50px">Wybierz samochody do wyświetlenia zleceń</h5>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap/min.js"></script>
<script src="../static/dtest/jquery.datetimepicker.full.js"></script>
<script>
    $('#dateorder').datetimepicker({
        timepicker: false,
        datepicker: true,
        format: 'Y-m-d'
    })

</script>
            <div style="margin-left: 250px">
{% for names in car_names %}

    <button style = "margin-left: 50px" class = "btn btn-primary mr-2 " type="submit" value="{{ loop.index }}" name="page_number" id="page_number" formaction="{{ url_for('show_orders_for_cars') }}">{{ names }}</button>

{% endfor %}
            </div>
</form>
{% endblock content %}