{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ note.tytul }}</a>
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_note', id_note=note.id_notatki) }}">Zmień</a>
            <button type="submit" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Usuń</button>
              <a class ="btn btn-primary btn-sm m-1" href="{{ url_for('show_notes') }}">Wróć</a>
          </div>
      </div>
        <p class="text-center">{{ note.tresc}}</p>
    </div>
  </article>
<!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Czy na pewno chcesz usunąć notatkę?</h5>
          <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
,          </button>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <form action="{{ url_for('delete_note', id_note=note.id_notatki) }}" method="GET">
            <input class="btn btn-danger" type="submit" value="Usuń">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}