{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ order.customer }}</a>
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_order', id_order=order.id_zlecenia) }}">Zmień</a>
            <button type="submit" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Usuń</button>
          </div>
      </div>
      <table class= "table table-striped">
          <tr>
            <td><h5 class="article-title">Klient</h5></td>
            <td><h6 class="article-title"> {{ order.zleceniodawca }}</h6></td>
          </tr>
          <tr>
            <td><h5 class="article-title">Telefon</h5></td>
            <td><h6 class="article-title"> {{ order.telefon }}</h6></td>
          </tr>
          <tr>
            <td><h5 class="article-title">Lokalizacja</h5></td>
            <td><h6 class="article-title"> {{ order.miejsce }}</h6></td>
          </tr>
          <tr>
            <td><h5 class="article-title">Data Zlecenia</h5></td>
            <td><h6 class="article-title"> {{ order.czas_r }}</h6></td>
          </tr>
          <tr>
            <td><h5 class="article-title">Samochód</h5></td>
            <td><h6 class="article-title"> {{ order.nazwa_samochodu }}</h6></td>
          </tr>
          <tr>
            <td><h5 class="article-title">Cena</h5></td>
            <td><h6 class="article-title"> {{ order.cena }}</h6></td>
          </tr>
          <tr>
            <td><h5 class="article-title">Uwagi</h5></td>
            <td><h6 class="article-title"> {{ order.notatka }}</h6></td>
          </tr>
      </table>
    </div>
  </article>
<!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Czy na pewno chcesz usunąć zlecenie?</h5>
          <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
,          </button>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <form action="{{ url_for('delete_order', id_order=order.id_zlecenia) }}" method="GET">
            <input class="btn btn-danger" type="submit" value="Usuń">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}