{% extends "layout.html" %}
{% block content %}
        <table style="width:100%" class=" table table-striped">
<link rel = "stylesheet" href ="../static/dtest/jquery.datetimepicker.min.css">
<script src = "../static/dtest/jquery.js"></script>
<script src = "../static/dtest/jquery.datetimepicker.full.js"></script>
<table class = table>
    <tr>
        <thead>
            <th class = "h4">Tytuł</th>
        <th class = "h4">Czas dodania</th>

        </thead>
    </tr>
    {% for note in notes %}
    <tr>
        <td class = "h5"><a href="{{ url_for('note', id_note=note.id_notatki) }}">{{ note.tytul }}</a></h5></td>
        <td class = "h6"> {{ note.time }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}