{% extends "layout.html" %}
{% block content %}
        <table style="width:100%" class=" table table-striped">
<link rel = "stylesheet" href ="../static/dtest/jquery.datetimepicker.min.css">
<script src = "../static/dtest/jquery.js"></script>
<script src = "../static/dtest/jquery.datetimepicker.full.js"></script>
<table class = table>
    <tr>
        <thead>
            <th>Nazwa</th>
            <th>Marka/Model</th>
            <th>Typ i wymiary </th>
            <th> Rok produkcji </th>
            <th> Leasing </th>
            <th>Numer rejestracyjny</th>
            <th>Data przeglądu</th>
            <th> Numer polisy</th>
            <th> Data polisy </th>
            <th> PIN </th>
        </thead>
    </tr>
    {% for cars in Cars %}
    <tr>
        <td> <a href="{{ url_for('car', id_car=cars.id_samochodu) }}">{{ cars.nazwa }}</a></td>
        <td> {{ cars.marka }} </td>
        <td> {{cars.wymiary}}</td>
        <td> {{cars.rok}} </td>
        <td> {{cars.leasing}}</td>
        <td> {{ cars.nr_rej }} </td>
        <td> {{ cars.data_przegladu }}</td>
        <td> {{ cars.polisa_nr}}</td>
        <td> {{cars.polisa_data}} </td>
        <td> {{cars.pin}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}