{% extends "layout.html" %}
{% block content %}
    <link rel = "stylesheet" href ="../static/dtest/jquery.datetimepicker.min.css">
    <style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
    </style>
<script src = "../static/dtest/jquery.js"></script>
<script src = "../static/dtest/jquery.datetimepicker.full.js"></script>
    <table>
        <tr>
            {% for car in Cars %}
                <td>
                    <table>
                        <thead>
                            <tr>
                                <td colspan="3" style="text-align: center; vertical-align: middle;">
                                    <a href="{{ url_for('car', id_car=car.id_samochodu) }}">{{ car.nazwa }}</a>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in Orders %}
                                {% if order.id_samochodu == car.id_samochodu %}
                                    <tr>
                                        <td>
                                            <a href="{{ url_for('order', id_order=order.id_zlecenia) }}">
                                                {{ order.czas_r.strftime('%H:%m') }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ order.miejsce }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            {% endfor %}
        </tr>
    </table>
    </form>


{% endblock content %}