{% extends "layout.html" %}
{% block content %}
<table class="table">
    <tr>
    <th>Klient</th>
    <th>Telefon</th>
        <th>Lokalizacja</th>
        <th>Czas zlecenia</th>
        <th>Samochód</th>
    </tr>
    {% for order in Orders %}
    <tr>
        <td> <a href="{{ url_for('order', id_order=order.id_zlecenia) }}">{{ order.zleceniodawca }}</a></td>
        <td> {{ order.telefon }} </td>
        <td> {{ order.miejsce }} </td>
        <td> {{order.czas_r}}</td>
        <td> {{order.nazwa_samochodu}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}