{% extends "layout.html" %}
{% block content %}
    <form role="form" method="post" action="/show_car_order">
        <table style="width:100%" class=" table table-striped">
<link rel = "stylesheet" href ="../static/dtest/jquery.datetimepicker.min.css">
<script src = "../static/dtest/jquery.js"></script>
<script src = "../static/dtest/jquery.datetimepicker.full.js"></script>

    <tr>
        <thead>
            <th>Nazwa</th>
            <th>Model</th>
            <th>Numer rejestracyjny</th>
        </thead>
    </tr>
    {% for cars in Cars %}
    <tr>
       <td> {{ cars.nazwa }} </td>
        <td> {{ cars.model }} </td>
        <td> {{ cars.nr_rej }} </td>
        <td>
            <button type="submit" value="{{ cars.id_samochodu }}" name="id_car" id="{{ cars.id_samochodu }}" formaction="{{ url_for('show_car_order') }}">Wybierz</button>
        </td>
    </tr>
    {% endfor %}
    <div class = "datepicker1">
<input id = "dateorder" name="dateorder">
</div>
<script>
    $("#dateorder").datetimepicker({
        dateonly: true
    });
</script>
</table>
    </form>

{% endblock content %}