{% extends "layout.html" %}
{% block content %}
    <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
{#    <div class="container">#}
{#        <div class="col-sm-12">#}
{#            <h1 class="text-center text-info">Stronizacja</h1>#}
{#        </div>#}
{#        <div class="col-sm-12">#}
{#            <nav>#}
{#                <ul>#}
{#                    <li><a href="home.html">test</a></li>#}
{#                    <li><a href="home.html">test</a></li>#}
{#                    <li><a href="home.html">test</a></li>#}
{#                    <li><a href="home.html">test</a></li>#}
{#                </ul>#}
{#            </nav>#}
{##}
{#        </div>#}
{##}
{#    </div>#}


{% endblock content %}