{% extends "layout.html" %}
{% block content %}
    <form>
        <table style="width:100%" class=" table table-striped">
<link rel = "stylesheet" href ="../static/dtest/jquery.datetimepicker.min.css">
<script src = "../static/dtest/jquery.js"></script>
<script src = "../static/dtest/jquery.datetimepicker.full.js"></script>

    <tr>
        <thead>
    <th>Marka</th>
    <th>Model</th>
        <th>Numer rejestracyjny</th>
    </thead>
    </tr>
    {% for cars in Cars %}
    <tr>
       <td> {{ cars.marka }} </td>
        <td> {{ cars.model }} </td>
        <td> {{ cars.nr_rej }} </td>
        <td>
            <button type="submit" value="submit" name="{{ cars.id_samochodu }}" id="{{ cars.id_samochodu }}" formaction="{{ url_for('show_order') }}">Wybierz</button>
        </td>
    </tr>
    {% endfor %}
    <div class = "datepicker1">
<input id = "datetime" >
</div>
<script>
    $("#datetime").datetimepicker({
        dateonly: true
    });
</script>
</table>
    </form>

{% endblock content %}