{% block content %}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"  href="../../static/main.css ">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    {% if title %}
        <title>Twoja Dostawa Transport Management System - {{ title }}</title>
    {% else %}
        <title>Twoja Dostawa Transport Management System </title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <img class = "navbar-brand" src = " ../../static/img/logo.png" width="90" height="80" usemap="#workmap">
            <map name = "workmap">
                <area shape="rect" coords="0,0,90,90" alt="Home" href="{{ url_for('home') }}">
            </map>
        <div class="container">
          <a class="navbar-brand md-4 display-2" href="/">Twoja Dostawa Transport Management System </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}

                {% if current_user.id_upr == 1 %}

                    <div class="dropdown container-fluid col-md-4">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Zlecenia
                         </button>
                        <div class="dropdown-menu container-fluid" style="float:left" aria-labelledby="dropdownMenuButton">
                            <a class="nav-item nav-link bg-primary" href="{{ url_for('add_order') }}">Dodaj zlecenie</a>
                            <a class="nav-item nav-link bg-primary" href="{{ url_for('show_order') }}">Lista zleceń</a>
                        </div>
                    </div>
                    <div class="dropdown container-fluid col-md-2">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Samochody
                         </button>
                        <div class="dropdown-menu container-fluid bg-primary float-sm-left"  aria-labelledby="dropdownMenuButton" >
                            <a class="nav-item nav-link bg-primary" href="{{ url_for('add_car') }}">Dodaj Nowy Samochód</a>
                            <a class="nav-item nav-link bg-primary" href="{{ url_for('show_cars') }}">Lista Samochodów</a>
                        </div>
                    </div>
                    <div class="dropdown container-fluid col-md-2">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Użytkownicy
                         </button>
                        <div class="dropdown-menu container-fluid bg-primary"  aria-labelledby="dropdownMenuButton" >
                            <a class="nav-item nav-link bg-primary" href="{{ url_for('register') }}">Stwórz użytkownika</a>
                            <a class="nav-item nav-link bg-primary" href="{{ url_for('about') }}">Usuń użytkownika</a>
                        </div>
                    </div>


                    <a class="nav-item nav-link" href="{{ url_for('about') }}">Account</a>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% elif current_user.id_upr == 2 %}
                    <a class="nav-item nav-link" href="{{ url_for('add_order') }}">Dodaj zlecenie</a>
                    <a class="nav-item nav-link" href="{{ url_for('about') }}">Account</a>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>


                {% elif current_user.id_upr == 3 %}
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                    <a class="nav-item nav-link" href="{{ url_for('show_order') }}">Zlecenia</a>
                {% endif %}
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>

    </header>
    <main role="main" class="container bg-light" >
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

      </div>
    </main>
</body>
</html>
<link rel = "stylesheet" href ="../static/dtest/jquery.datetimepicker.min.css">
<script src = "../static/dtest/jquery.js"></script>
<script src = "../static/dtest/jquery.datetimepicker.full.js"></script>
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Dodaj Nowy Samochód</legend>
                <div class="form-group">
                    {{ form.marka.label(class="form-control-label") }}
                    {% if form.marka.errors %}
                        {{ form.marka(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.marka.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.marka(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.model.label(class="form-control-label") }}
                    {% if form.model.errors %}
                        {{ form.model(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.model.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.model(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.rejestracja.label(class="form-control-label") }}
                    {% if form.rejestracja.errors %}
                        {{ form.rejestracja(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.rejestracja.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.rejestracja(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                 <div class= "form-group">
                     {{ form.przeglad.label(class="form-control-label") }}
                     {{ form.przeglad(class="form-control form-control-lg") }}
                 </div>
                <script>
                     $("#przeglad").datetimepicker();
                </script>
                 <div class="form-group">
                {{ form.add(class="btn btn-outline-info") }}
                </div>

                {% endblock content %}